<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.name %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number.nil? ? 'No phone number renseigned' : @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <% @restaurant.reviews.each do |review| %>
    <div class="container w-50">
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
    </div>
  <% end %>

  <%= link_to 'Add a new review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to 'Home', restaurants_path, class: "btn btn-primary" %>
</div>
